<%- include('partials/header') %>
<!-- The sidebar -->
<div class="sidebar ">
    <a class="active " href="#home">Home</a>
    <a href="/submit">Submit</a>
   
    <a href="/about">About</a>
    <a href="/logout">Log Out</a>
  </div>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-map fa-6x"></i>
    <h1 class="display-3">CareerXP</h1>
    <p class="lead">Twists & Turns make a person, share them anonymously!</p>
    <hr>

    <a href="https://www.linkedin.com/in/fortuneewuru"><button class="btn-linkedin">    Ewuru Fortune</button></a>
  </div>
</div>

<div>
<h3 class="about-headers" >What Its All About</h3 >


<h3  class="about-headers">The Vision</h3 >

<h3  class="about-headers">About... THE AUTHOR</h3 >
</div>

<%- include('partials/footer') %>